/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1C1C1C;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #E3E3E3;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4860FE;
}

html {
	scroll-behavior: smooth;
}

/* Light Mode */

body {
	margin: 0px;
	background-color: #F8F8F8;
	font-family: sarabun;
}

a {
	color: #1c1c1c;
	text-decoration: none;
}

a:hover {
	color: #1c1c1c;
	text-decoration: bold;
}

.ns {
	font-size: 15px;
	background-color: #53EF62;
	border-radius: 5px;
	margin-left: 10px;
	padding: 0.5% 1%;
}

.hs {
    font-size: 15px;
    font-weight: bold;
    color: #4860fe;
    width: 100px;
    background-color: #E3E3E3;
    border-radius: 5px;
    margin-left: 10px;
    padding: 2.5% 2%;
    text-align: center;
}

.anim {
    background: linear-gradient(-45deg, #4860fe, #25ffa6);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.header {
	display: flex;
	height: 100px;
	background-color: #1c1c1c;
	flex-direction: row;
	align-items: center;
}

.pageinfo {
	display: flex;
	align-items: center;
	color: #ffffff;
    width: 100%;
    height: 700px;
}

.buttons {
	display: flex;
	flex-direction: row;
}

.sicon {
	display: none;
	margin-right: 10px;
	width: 35px;
	height: 35px;
}

.pageinf {
	display: flex;
	flex-direction: column;
	margin-left: 10%;
}

.hh2 {
	display: flex;
	align-items: center;
	margin-left: 10%;
	color: #FFFFFF;
}

.hh3 {
	display: flex;
	align-items: center;
	margin-left: 10%;
	color: #1c1c1c;
}


.hdimg {
	width: 30%;
	margin: 0% 5% 0% 0%;
}

.sh1 {
	font-weight: 800;
	margin: 10% 10% 0% 10%;
	color: #1c1c1c;
}

.sh2 {
	font-weight: 800;
	margin: 5% 10% 0% 10%;
	color: #1c1c1c;
}

.services {
	display: flex;
	flex-direction: column;
	margin: 1% 10% 2% 10%;
	background-color: #FFFFFF;
	border: 1px solid #E3E3E3;
	border-radius: 10px;
	color: #1c1c1c;
}

.intxtt {
	display: flex;
    border-bottom: 1px solid #E3E3E3;
    border-radius: 10px 10px 0px 0px;
    padding: 1%;
    margin: 0%;
    align-items: center;
}

.intxt {
    border-bottom: 1px solid #E3E3E3;
    padding: 1% 0% 1% 1%;
    margin: 0%;
}

.intxtbless {
	font-size: 58px;
	font-weight: 800;
    padding: 1% 0% 1% 1%;
    margin: 0%;
}


.intxt2 {
	border: 1px solid #E3E3E3;
	border-radius: 10px;
	padding: 10px;
	margin: 1% 0% 1% 1%;
	width: max-content;
	font-weight: 600;
	transition: 0.2s;
}

.intxt2:hover {
	color: #4860fe;
	border: 1px solid;
	border-radius: 10px;
	padding: 10px;
	margin: 1% 0% 1% 1%;
	width: max-content;
	font-weight: 600;
	background-color: #4860fe1a;
	transition: 0.2s;
}

.intxt3 {
	color: #ffffff;
	border: 1px solid;
	border-radius: 10px;
	padding: 10px;
	margin: 3% 0% 1% 1%;
	width: max-content;
	font-weight: 600;
	transition: 0.2s;
}

.intxt3:hover {
	color: #ffffff;
	border: 1px solid;
	border-radius: 10px;
	padding: 10px;
	margin: 3% 0% 1% 1%;
	width: max-content;
	font-weight: 600;
	background-color: #ffffff1a;
	transition: 0.2s;
}


.info {
	margin: 1%;
	border: solid 1px #E3E3E3;
	border-radius: 10px;
}

.infop {
	margin: 2% 0% 2% 1%;
}

.bold {
	color: #4860fe;
}

.footer {
	margin-top: 10%;
}

.ftbg {
	background-color
}

/* Footer */

.centertext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    margin-right: 10%;
}

.centertext2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.seperate {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #1c1c1c;
}

#finglets {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1%;
}

.bg2 {
    background-color: #ffffff;
    margin-top: 10%;
    width: 100%;
    height: 400px;
}

.imgscale {
    width: 35px;
    margin-right: 15px;
    filter: invert(93%) sepia(1%) saturate(322%) hue-rotate(314deg) brightness(102%) contrast(92%);
}

.txtstyle {
    font-family: sarabun;
    color: #1c1c1c;
    margin: 5px;
}

.hiring {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    margin-left: 10px;
}

a.txtstyle {
	font-size: 18px;
    display: flex;
    font-family: sarabun;
    color: #1c1c1c;
    text-decoration: none;
    align-items: center;
    height: 23px;
}

a:hover.txtstyle {
	font-size: 18px;
    font-family: sarabun;
    color: #1c1c1c;
    text-decoration: none;
    color: #4860fe;
}

#toes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0% 10% 0px 10%;
}

#toes2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1.5% 10% 0px 10%;
}

/* Mobile */

@media screen and (max-width: 750px) {
.header {
	display: flex;
	height: 100px;
	background-color: #1c1c1c;
	flex-direction: row;
	align-items: center;
	}

.centertext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-right: 10%;
	}

#finglets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 3%;
	}

.bg2 {
    background-color: #ffffff;
    margin-top: 10%;
    width: 100%;
    height: auto;
	}
	
.imgscale {
    width: 20px;
    margin-right: 15px;
    filter: invert(93%) sepia(1%) saturate(322%) hue-rotate(314deg) brightness(102%) contrast(92%);
	}

#toes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0% 10% 0px 10%;
	}

.hh2 {
	display: flex;
	align-items: center;
	margin-left: 5%;
	color: #FFFFFF;
	}

.hh3 {
	display: flex;
	align-items: center;
	margin-left: 0px;
	color: #1c1c1c;
}

.pageinfo {
	display: flex;
	align-items: center;
	color: #FFFFFF;
    width: 100%;
    min-height: 350px;
    max-height: 450px;
	}

.intxtt {
	display: flex;
	justify-content: center;
    border-bottom: 1px solid #E3E3E3;
    border-radius: 10px 10px 0px 0px;
    width: 98%;
    padding: 1%;
    margin: 0%;
    align-items: center;
	}

.intxt {
    border-bottom: 1px solid #E3E3E3;
    padding: 2%;
    margin: 0%;
	}

.pageinf {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
	}	

.sh1 {
    font-weight: 800;
	margin: 10% 5% 3% 5%;
	color: #1c1c1c;
	}

.sh2 {
    font-weight: 800;
	margin: 20% 5% 3% 5%;
	color: #1c1c1c;
	}

.services {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 1% 5% 6% 5%;
	background-color: #FFFFFF;
	border: 1px solid #E3E3E3;
	border-radius: 10px;
	color: #1c1c1c;
	}

.hdimg {
	width: 25% !important;
	margin: 0% 5% 0% 0%;
	}

.hdimg2 {
	width: 15% !important;
	margin: 0% 5% 0% 0%;
	}

.infop {
	margin: 4% 2% 4% 2%;
	}

.info {
	margin: 3%;
	}

.intxt2 {
	border: 1px solid #E3E3E3;
	border-radius: 10px;
	padding: 10px;
	margin: 3% 1% 3% 1%;
	width: max-content;
	font-weight: 600;
	transition: 0.2s;
	}

.intxt2:hover {
	color: #4860fe;
	border: 1px solid;
	border-radius: 10px;
	padding: 10px;
	margin: 3% 1% 3% 1%;
	width: max-content;
	font-weight: 600;
	background-color: #4860fe1a;
	transition: 0.2s;
	}

}


/* Dark Mode */

@media (prefers-color-scheme: dark) {
body {
	margin: 0px;
	background-color: #232323;
	font-family: sarabun;
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
	text-decoration: bold;
}

.ns {
	font-size: 15px;
	background-color: #53EF62;
	border-radius: 5px;
	margin-left: 10px;
	padding: 0.5% 1%;
}

.hs {
    font-size: 15px;
    font-weight: bold;
    color: #fe48c1;
    width: 100px;
    background-color: #232323;
    border-radius: 5px;
    margin-left: 10px;
    padding: 2.5% 2%;
    text-align: center;
}


.anim {
	background: linear-gradient(-45deg, #fe48c1, #ffcd58);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.header {
	display: flex;
	height: 100px;
	background-color: #1c1c1c;
	flex-direction: row;
	align-items: center;
}

.pageinfo {
	display: flex;
	align-items: center;
	color: #ffffff;
    width: 100%;
    height: 700px;
}

.sicon {
	display: none;
	margin-right: 10px;
	width: 35px;
	height: 35px;
}

.pageinf {
	display: flex;
	flex-direction: column;
	margin-left: 10%;
}

.hh2 {
	display: flex;
	align-items: center;
	margin-left: 10%;
	color: #ffffff;
}

.hh3 {
	display: flex;
	align-items: center;
	margin-left: 10%;
	color: #ffffff;
}

.hdimg {
	width: 30%;
	margin: 0% 5% 0% 0%;
}

.sh1 {
	font-weight: 800;
	margin: 10% 10% 0% 10%;
	color: #ffffff;
}

.sh2 {
    font-weight: 800;
	margin: 5% 10% 0% 10%;
	color: #ffffff;
}

.services {
	display: flex;
	flex-direction: column;
	margin: 1% 10% 2% 10%;
	background-color: #272727;
	border: 1px solid #1c1c1c;
	border-radius: 10px;
	color: #ffffff;
}

.intxtt {
	display: flex;
    border-bottom: 1px solid #1c1c1c;
    border-radius: 10px 10px 0px 0px;
    padding: 1%;
    margin: 0%;
    align-items: center;
}

.intxt {
    border-bottom: 1px solid #1c1c1c;
    padding: 1% 0% 1% 1%;
    margin: 0%;
}

.intxtbless {
    padding: 1% 0% 1% 1%;
    margin: 0%;
}


.intxt2 {
	border: 1px solid;
	border-radius: 10px;
	padding: 10px;
	margin: 1% 0% 1% 1%;
	width: max-content;
	font-weight: 600;
	transition: 0.2s;
}

.intxt2:hover {
	color: #fe48c1;
	border: 1px solid;
	border-radius: 10px;
	padding: 10px;
	margin: 1% 0% 1% 1%;
	width: max-content;
	font-weight: 600;
	background-color: #fe48c11a;
	transition: 0.2s;
}

.intxt3 {
	border: 1px solid;
	border-radius: 10px;
	padding: 10px;
	margin: 3% 0% 1% 1%;
	width: max-content;
	font-weight: 600;
	transition: 0.2s;
}

.intxt3:hover {
	border: 1px solid;
	border-radius: 10px;
	padding: 10px;
	margin: 3% 0% 1% 1%;
	width: max-content;
	font-weight: 600;
	background-color: #ffffff1a;
	transition: 0.2s;
}


.info {
	margin: 1%;
	border: solid 1px #1c1c1c;
	border-radius: 10px;
}

.infop {
	margin: 2% 0% 2% 1%;
}

.infopp {
	margin: 2% 0% 0% 1%;
}

.bold {
	color: #fe48c1;
}

/* Footer */

.centertext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    margin-right: 10%;
}

.centertext2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.seperate {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ffffff;
}

#finglets {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1%;
}

.bg2 {
    background-color: #1c1c1c;
    margin-top: 10%;
    width: 100%;
    height: 400px;
}

.imgscale {
    width: 35px;
    margin-right: 15px;
    filter: invert(0%);
}

.txtstyle {
    font-family: sarabun;
    color: #ffffff;
    margin: 5px;
}

.hiring {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    margin-left: 10px;
}

a.txtstyle {
	font-size: 18px;
    display: flex;
    font-family: sarabun;
    color: #ffffff;
    text-decoration: none;
    align-items: center;
    height: 23px;
}

a:hover.txtstyle {
	font-size: 18px;
    font-family: sarabun;
    color: #ffffff;
    text-decoration: none;
    color: #fe48c1;
}

#toes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0% 10% 0px 10%;
}

#toes2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1.5% 10% 0px 10%;
}

/* Mobile */

@media screen and (max-width: 750px) {
.header {
	display: flex;
	height: 100px;
	background-color: #1c1c1c;
	flex-direction: row;
	align-items: center;
	}

.centertext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-right: 10%;
	}

#finglets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 3%;
	}

.imgscale {
    width: 25px;
    margin-right: 15px;
    filter: invert(0%);
	}

#toes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0% 10% 0px 10%;
	}

.bg2 {
    background-color: #1c1c1c;
    margin-top: 10%;
    width: 100%;
    height: auto;
	}
	
.hh2 {
	display: flex;
	align-items: center;
	margin-left: 5%;
	color: #ffffff;
	}

.hh3 {
	display: flex;
	align-items: center;
	margin-left: 0px;
	color: #ffffff;
	}


.pageinfo {
	display: flex;
	align-items: center;
	color: #ffffff;
    width: 100%;
    min-height: 350px;
    max-height: 450px;
	}

.intxtt {
	display: flex;
	justify-content: center;
    border-bottom: 1px solid #1c1c1c;
    border-radius: 10px 10px 0px 0px;
    width: 98%;
    padding: 1%;
    margin: 0%;
    align-items: center;
	}

.intxt {
    border-bottom: 1px solid #1c1c1c;
    padding: 2%;
    margin: 0%;
	}

.pageinf {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
	}	

.sh1 {
    font-weight: 800;
	margin: 10% 5% 3% 5%;
	color: #ffffff;
	}

.sh2 {
    font-weight: 800;
	margin: 20% 5% 3% 5%;
	color: #ffffff;
	}

.services {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 1% 5% 6% 5%;
	background-color: #272727;
	border: 1px solid #1c1c1c;
	border-radius: 10px;
	color: #ffffff;
	}

.hdimg {
	width: 25% !important;
	margin: 0% 5% 0% 0%;
	}

.hdimg2 {
	width: 15% !important;
	margin: 0% 5% 0% 0%;
	}

.infop {
	margin: 4% 2% 4% 2%;
	}

.info {
	margin: 3%;
	}

.intxt2 {
	border: 1px solid;
	border-radius: 10px;
	padding: 10px;
	margin: 3% 1% 3% 1%;
	width: max-content;
	font-weight: 600;
	transition: 0.2s;
	}

.intxt2:hover {
	color: #fe48c1;
	border: 1px solid;
	border-radius: 10px;
	padding: 10px;
	margin: 3% 1% 3% 1%;
	width: max-content;
	font-weight: 600;
	background-color: #fe48c11a;
	transition: 0.2s;
	}

}
}

/* Animations */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
