/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1C1C1C;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #E3E3E3;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4860FE;
}

body {
	margin: 0px;
	background-color: #232323;
	font-family: sarabun;
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
	text-decoration: bold;
}

.header {
	display: flex;
	height: 100px;
	background-color: #1c1c1c;
	flex-direction: row;
	align-items: center;
}

.hh2 {
	display: flex;
	align-items: center;
	margin-left: 10%;
	color: #ffffff;
}

.hdimg {
	width: 30%;
	margin: 0% 5% 0% 0%;
}

.sh1 {
	margin: 10% 10% 0% 10%;
	color: #ffffff;
}

.sh2 {
	margin: 5% 10% 0% 10%;
	color: #ffffff;
}

.services {
	display: flex;
	flex-direction: column;
	margin: 1% 10% 2% 10%;
	padding: 10px;
	background-color: #272727;
	border: 1px solid #1c1c1c;
	border-radius: 10px;
	color: #ffffff;
}

.intxt {
	margin: 1% 0% 0% 1%;
}

.intxt2 {
	border: 1px solid;
	border-radius: 10px;
	padding: 10px;
	margin: 1% 0% 1% 1%;
	width: max-content;
	font-weight: 600;
	transition: 0.2s;
}

.intxt2:hover {
	color: #4860FE;
	border: 1px solid;
	border-radius: 10px;
	padding: 10px;
	margin: 1% 0% 1% 1%;
	width: max-content;
	font-weight: 600;
	background-color: #4860fe1a;
	transition: 0.2s;
}

.info {
	width: 48%;
	margin: 1%;
	border: solid 1px;
	border-radius: 10px;
	border-color: #ffffff;
}

.infop {
	margin: 1% 0% 1% 1%;
}

.bold {
	color: #4860FE;
}

/* Mobile */

@media screen and (max-width: 750px) {
.header {
	display: flex;
	height: 100px;
	background-color: #1c1c1c;
	flex-direction: row;
	align-items: center;
	}

.services {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 1% 10% 2% 10%;
	padding: 20px;
	background-color: #272727;
	border: 1px solid #1c1c1c;
	border-radius: 10px;
	color: #ffffff;
	}

.intxt {
	margin: 1%;
	}

.hdimg {
	width: 25% !important;
	margin: 0% 5% 0% 0%;
	}

.info {
	width: 98%;
	margin: 3%;
	border: solid 1px;
	border-radius: 10px;
	border-color: #ffffff;
	}

.infop {
	margin: 1%;
	}

.intxt2 {
	border: 1px solid;
	border-radius: 10px;
	padding: 10px;
	margin: 3% 1% 1% 1%;
	width: max-content;
	font-weight: 600;
	transition: 0.2s;
	}

.intxt2:hover {
	color: #4860FE;
	border: 1px solid;
	border-radius: 10px;
	padding: 10px;
	margin: 3% 1% 1% 1%;
	width: max-content;
	font-weight: 600;
	background-color: #4860fe1a;
	transition: 0.2s;
	}

}